{% extends 'members/base.html' %}
{% load bootstrap3 %}

{% block page_controls %}
{% endblock %}

{% block content_header %}
Invite some awesome people to {{ campyear }}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-5">
            <form action="{{ request.path }}" method="post" class="form">
                {% csrf_token %}
                {{ formset.management_form }}
                <table class="table">
                <tr>
                    <th>Recipient Email</th>
                    <th>Permissions</th>
                </tr>
                {% for form in formset %}
                <tr>
                    <td>{% bootstrap_field form.recipient_email %}</td>
                    <td>{% bootstrap_field form.permissions %}</td>
                </tr>
                {% endfor %}
                </table>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}